//color
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 3%, 87%);
$darkGrayishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

//fonts
$font-sm: 0.6875rem;
$font-md: 1.125rem;
